/*
.*

!/.github/
!/.gitattributes
!/.gitignore
!/.gitkeep

!/mise.lock
!/mise.toml
!/hk.pkl

!/package.json
!/pnpm-lock.yaml
!/renovate.json

!/.oxfmtrc.json
!/.oxlintrc.json
!/tsconfig.json
!/tsconfig.build.json
!/vitest.config.ts

!/src/
!/shims.d.ts

!/LICENSE
!/README.md
